<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .formhai{
            width:50%;
            margin:auto;
        }
        .btn1{
           margin-left:750px;
           background:blue;
           border-radius:20px;
    
       }
       .user{
         margin:auto;
         width:50%;
         border: 1px solid black;
         margin-top:30px;
         padding:20px;
         color: red;
         background:grey;
         
       }
       
    </style>
</head>
<body>
  <% if(errorMessage) {%>
    <div style="color:red;"><%=errorMessage%></div>
    <%}%>
   
      <form class="formhai" action="/newPassword" method = "post" >
       
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name ="password">
        </div>
       
        <input type = "hidden" name="userId" value ="<%=costumer._id%>">
        <input type = "hidden" name="_csrf" value ="<%=csrfToken%>">
        <input type = "hidden" name="passwordToken" value ="<%=passwordToken%>">
        <button type="submit" class="btn btn-primary">update password</button>
      </form>
      <!-- <a href ="/passwordReset">Reset Password</a> -->
</body>
</html>